deviceTime,latitude,longitude,altitude,speed,accuracy,batteryLevelPercent,gnssLatitude,gnssLongitude,gnssAltitude,gnssAccuracy,networkLatitude,networkLongitude,networkAltitude,networkAccuracy,deviceSerialNumber
2024-12-17T21:55:54.427913-05:00,44.2382726,-76.5303886,76.44642,0.0,100,57,,,,,,,,,da9b21af62d733e3
