deviceTime,latitude,longitude,altitude,speed,accuracy,missionId,recordNumber,simState,simOperator,networkRegistrationInfo,deviceSerialNumber,slot,nonTerrestrialNetwork
2024-12-17T21:55:44.883768-05:00,44.2382726,-76.5303886,76.44642,0.0,100,NS da9b21af62d733e3 20241217-215541,1,READY,302610,"[{""domain"":""PS"",""roaming"":false,""rejectCause"":0}, {""domain"":""CS"",""accessNetworkTechnology"":""LTE"",""roaming"":false,""rejectCause"":0,""cellIdentityLte"":{""mcc"":302,""mnc"":610,""tac"":56009,""eci"":138271019,""earfcn"":900,""pci"":491}}, {""domain"":""PS"",""accessNetworkTechnology"":""LTE"",""roaming"":false,""rejectCause"":0,""cellIdentityLte"":{""mcc"":302,""mnc"":610,""tac"":56009,""eci"":138271019,""earfcn"":900,""pci"":491}}]",da9b21af62d733e3,,false
